*{margin: 0; padding: 0;}

body{
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    background-color: #f1f1f1;
    padding: 20px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    font-family: Arial;
}

.header {
    position: fixed;
    top: 0;
}

#menu ul {
    padding: 0px;
    margin: 0px;
    background-color: #000;
    list-style: none;
}

#menu ul li { display: inline; }

#menu ul li a {
	padding: 10px 10px;
	display: inline-block;
	background-color:#000;
	color: #CCC;
	text-decoration: none;
	border-bottom:3px solid #000;
}

#menu ul li a:hover {
	background-color:#D6D6D6;
	color: #6D6D6D;
	border-bottom:3px solid #EA0000;
}

* {
    box-sizing: border-box;
  }
  
  
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }
  

  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
h2 {
  text-align: center;
}

  h3 {
      font-size: 20px;
  }

  p{
      font-size: 14px;
  }
  .row {
    margin: 8px -16px;
  }
  
  .row,
  .row > .column {
    padding: 8px;
  }
  
  .column {
    float: left;
    width: 25%;
  }

  .column1 {
    float: left;
    width: 50%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .content {
    background-color: white;
    padding: 10px;
  }
  
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  form {
    /* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 600px;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

form div + div {
    margin-top: 1em;
}

label {
    /*Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente alinhadas */
    display: inline-block;
    width: 110px;
    text-align: left;
}

input, textarea {
    /* Para certificar-se que todos os campos de texto têm as mesmas configurações de fonte. Por padrão, textareas ter uma fonte monospace*/
    font: 1em sans-serif;

    /* Para dar o mesmo tamanho a todos os campo de texto */
    width: 500px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Para harmonizar o look & feel das bordas nos campos de texto*/
    border: 1px solid #999;
}

input:focus, textarea:focus {
    /* Dar um pouco de destaque nos elementos ativos */
    border-color: #000;
}

textarea {
    /* Para alinhar corretamente os campos de texto de várias linhas com sua label*/
    vertical-align: top;

    /* Para dar espaço suficiente para digitar algum texto */
    height: 5em;

    /* Para permitir aos usuários redimensionarem qualquer textarea verticalmente. Ele não funciona em todos os browsers */
    resize: vertical;
}

.button-form{
    /* Para posicionar os botões para a mesma posição dos campos de texto */
    padding-left: 90px; /* mesmo tamanho que os elementos do tipo label */
}
button-form {
    /* Esta margem extra representa aproximadamente o mesmo espaço que o espaço entre as labels e os seus campos de texto*/
    margin-left: .5em;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #CCC;
    background-color: #008000;
    border-radius: 6px;
    outline: none;
  }